:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    width: 100%;
}

#header-wrapper {
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}

#header-left, #header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

#header-right {
    margin-left: auto;
}