$persian-red: rgb(200, 50, 50);
$red-blend: rgb(213,50,52);
$vivid-red: rgb(226, 50, 55);

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: $persian-red;
    color: white;
    position: sticky;
    top: 0;
}

#header-wrapper {
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
}

#header-left, #header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

#header-right {
    margin-left: auto;
}

#logo-hn {
    background-image: url('../../../assets/logo_HN.png');
    height: 40px;
    width: 40px;
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 4px 4px $red-blend inset;
}

@media only screen and (max-width: 600px) {
    #header-right {
        display: none;
    }

    * {
        font-size: 1rem;
    }
}