<div id="header-wrapper">
  <div id="header-left">
    <span id="logo-hn" [routerLink]="['/topstories']"></span>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/newstories']" routerLink="active">New</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/beststories']" routerLink="active">Best</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/askstories']" routerLink="active">Ask</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/showstories']" routerLink="active">Show</a>
    <span>&#8239;&#8239;&#8239;</span>
    <a [routerLink]="['/jobstories']" routerLink="active">Jobs</a>
  </div>
  <div id="header-right">
    Built with Angular 5
  </div>
</div>