<div id="header-wrapper">
  <div id="header-left">
    <span id="logo-hn" [routerLink]="['/topstories']"></span>
    <span>&#8239;&#8239;&#8239;</span>
    <span [routerLink]="['/newstories']">New</span>
    <span>&#8239;&#8239;&#8239;</span>
    <span [routerLink]="['/beststories']">Best</span>
    <span>&#8239;&#8239;&#8239;</span>
    <span [routerLink]="['/askstories']">Ask</span>
    <span>&#8239;&#8239;&#8239;</span>
    <span [routerLink]="['/showstories']">Show</span>
    <span>&#8239;&#8239;&#8239;</span>
    <span [routerLink]="['/jobstories']">Jobs</span>
  </div>
  <div id="header-right">
    Built with Angular 5
  </div>
</div>