#user-wrapper {
    width: 100vw;
    min-height: 140px;
    max-width: 820px;
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    > #user-about {
        color: grey;
    }
    > div {
        > #user-submissions, > #user-comments, > #user-favorites {
            font-weight: 900;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}