$light-grey: rgb(211, 211, 211);
.comment-wrapper {
  border-bottom: 1px solid $light-grey;
}
.comment-header {
  font-weight: bold;
}
ul {
  padding: 8px;
  list-style: none;
  margin-left: 16px;
}
.comment-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.comment-username {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
