$light-grey: rgb(211, 211, 211);

#spinner-hn {
    height: 160px;
    width: 160px;
    background-image: url('../../../assets/spinner_HN.svg');
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
}

#navigator {
    height: 60px;
    background-color: white;
    text-align: center;
    line-height: 60px;
    position: sticky;
    top: 60px;
    box-shadow: 0px 3px 4px -4px rgba(0,0,0,0.75);
    span {
        &:nth-child(1) {
            font-size: 2.125rem;;
            // font-weight: 600;
        }
        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            font-size: 3.125rem;
        }
        &:nth-child(5) {
            font-size: 2.125rem;;
            // font-weight: 600;
        }
    }
}


:host > ul {
    display: block;
    width: 100%;
    max-width: 820px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 0;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    > li {
        padding: 8px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid $light-grey;
    }
}