$light-grey: rgb(211, 211, 211);

#story-item-detail-wrapper > * {
    width: calc(100% - 40px);
    max-width: 820px;
    margin-top: 20px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

#story-item-detail-header {
    min-height: 80px;
    > #story-item-details {
        border-bottom: 1px solid $light-grey;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#story-item-details {
    white-space: pre-wrap;
    word-wrap: break-word;
}